
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: background-color 0.3s ease;
  }
  
  
  .logo a {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  
  .logo a:hover {
    color: #ffb74d;
  }
  
  
  .nav-links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 30px;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    transition: color 0.3s ease;
  }
  
  
  .nav-links a:hover {
    color: #ffb74d;
  }
  
  
  .menu-icon {
    display: none;
    cursor: pointer;
    font-size: 1.5rem;
  }
  
  
  .header-container.sticky {
    background-color: #444;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  
  
  
  @media (max-width: 768px) {
    .nav-links ul {
      display: none;
      flex-direction: column;
      width: 100%;
      position: absolute;
      top: 50px;
      left: 0;
      background-color: #333;
      text-align: center;
    }
  
    .nav-links ul.active {
      display: flex;
    }
  
    .menu-icon {
      display: block;
      color: white;
    }
  }
  
  
  @media (max-width: 480px) {
    .logo a {
      font-size: 1.3rem;
    }
  
    .nav-links a {
      font-size: 1rem;
    }
  }
  